.card {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    padding: 2.5rem;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card:hover {
    transform: scale(1.05);
}
